* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d7cf07;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    color: #a40606;
    background-color: #ffffc7;
}

#reset-btn {
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #230007;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#msg {
    color: #42420e;
    font-size: 5vmin;
}

.msg-container {
    height: 10vmin;
}

.hide {
    display: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    font-size: 3vmin;
  }